<%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <h1>Sorry to say this but 404 error :(</h1>
    </main>
    
    <%- include('./partials/footer') %>
<%- include('./partials/end') %>